


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Presense Of Barry Steyn - Software Engineer, Entrepreneur">
    <meta name="author" content="Barry Steyn">
    <link rel="shortcut icon" href="theme/img/doctrina-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="theme/img/apple-touch-icon-144-precomposed.png">

    <title>Doctrina - 	test-readme
</title>

    <!-- Bootstrap Base CSS -->
    <link href="http://doctrina/theme/css/base.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="http://doctrina/theme/css/main.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,800|Source+Code+Pro" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Top Nav Bar -->
    <nav id="navbar-top" class="navbar navbar-fixed-top navbar-offset-start " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand " href="/index.html#page-top">
                    <img alt="brand for doctrina" src="http://doctrina/theme/img/apple-touch-icon-144-precomposed.png" style="float: left; max-height:100%;" />
                    <span style="padding-left: 0.5em;">Doctrina</span>
                </a>
                
                <button type="button" class="navbar-toggle" style="" data-toggle="collapse" data-target="#navigation-menu">
<i class="fa fa-bars"></i>                </button>

            </div>

            <div class="collapse navbar-collapse navbar-right" id="navigation-menu">
                        <div>
                            <ul class="nav navbar-nav">
                                <li><a href="#page-top"><span>Article</span></a></li>    
                                <li><a href="#comments"><span>Comments</span></a></li>    
                                <li><a href="#footer"><span>Connect</span></a></li>    
                            </ul>
                        </div>
            </div>


        </div>
    </nav>
    <!-- End Top Nav Bar -->

    <!-- User Defined Sections -->
	<section class="container-fluid title">
	<div class="row">
		<div class="col-md-12">
			<h1><a href="" rel="bookmark" title="Permalink to test-readme">	test-readme
</a></h1>
			<span>
				<a href="http://doctrina/index.html#about"><img src="http://doctrina/theme/img/me.jpg" class="img-rounded"></img></a>
			</span>
		</div>
	</div>
</section>

<section class="content">
	<div class="container">
		<div class="row">
				<div class="col-xs-12 text-center metadata">
					<ul class="center-list">
						<li><b>Published</b>: 26  May  2012</li>
					</ul>
				</div>
		</div>
		<div class="row">
				<div class="col-xs-12 col-md-1 col-md-push-10 text-center">
<div id="share">
	<div>
		<span class="toctitle">Share</span>
	</div>
	<div>
	    <a class="fa-stack fa-lg twitter" href="https://twitter.com/intent/tweet?text=test-readme&url=http%3A//doctrina/test-readme.html&via=">
	        <i class="fa fa-circle fa-stack-2x"></i>
	        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	    </a>
	</div>
	<div>
		<a class="fa-stack fa-lg facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//doctrina/test-readme.html">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</a>
	</div>
	<div>
		<a class="fa-stack fa-lg google-plus" href="https://plus.google.com/share?url=http%3A//doctrina/test-readme.html">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</a>
	</div>
	<div>
	    <a class="fa-stack fa-lg linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A//doctrina/test-readme.html&title=test-readme">
	        <i class="fa fa-circle fa-stack-2x"></i>
	        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
	    </a>
	</div>
</div>				</div>				


			<div id="content" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-md-pull-1">
	<h1 id="math-render-plugin-for-pelican">Math Render Plugin For Pelican<a class="headerlink" href="#math-render-plugin-for-pelican" title="Permanent link">&para;</a></h1>
<p>This plugin gives pelican the ability to render mathematics. It accomplishes
this by using the <a href="http://www.mathjax.org/">MathJax</a> javascript engine. Both
<a href="http://en.wikipedia.org/wiki/LaTeX">LaTex</a> and <a href="http://en.wikipedia.org/wiki/MathML">MathML</a> 
can be rendered within the content.</p>
<p>The plugin also ensures that pelican and recognized math "play" nicely together, by
ensuring <a href="https://github.com/mintchaos/typogrify">Typogrify</a> does not alter math content
and summaries that get cut off are repaired.</p>
<p>Recognized math in the context of this plugin is either LaTex or MathML as described below.</p>
<h3 id="latex">LaTex<a class="headerlink" href="#latex" title="Permanent link">&para;</a></h3>
<p>Anything between <code>$</code>...<code>$</code> (inline math) and <code>$$</code>..<code>$$</code> (displayed math) will be recognized as
LaTex. In addition, anything the <code>\begin</code> and <code>\end</code> LaTex macros will also be 
recognized as LaTex. For example, <code>\begin{equation}</code>...<code>\end{equation}</code> would be used to 
render math equations with numbering.</p>
<p>Within recognized LaTex as described above, any supported LaTex macro can be used.</p>
<h3 id="mathml">MathML<a class="headerlink" href="#mathml" title="Permanent link">&para;</a></h3>
<p>Anything between <code>&lt;math&gt;</code> and <code>&lt;/math&gt;</code> tags will be recognized as MathML</p>
<h2 id="installation">Installation<a class="headerlink" href="#installation" title="Permanent link">&para;</a></h2>
<p>To enable, ensure that <code>render_math</code> plugin is accessible.
Then add the following to settings.py:</p>
<pre><code>PLUGINS = ["render_math"]
</code></pre>
<p>Your site is now capable of rendering math math using the mathjax JavaScript
engine. No alterations to the template is needed, just use and enjoy!</p>
<h3 id="typogrify">Typogrify<a class="headerlink" href="#typogrify" title="Permanent link">&para;</a></h3>
<p>In the past, using <a href="https://github.com/mintchaos/typogrify">Typgogrify</a> would alter the math contents resulting
in math that could not be rendered by MathJax. The only option was to ensure
that Typogrify was disabled in the settings.</p>
<p>The problem has been recitified in this plugin, but it requires <a href="https://pypi.python.org/pypi/typogrify">Typogrify version 2.04</a>
(or higher). If this version of Typogrify is not present, the plugin will inform that an incorrect
version of Typogrify is not present and disable Typogrify for the entire site</p>
<h2 id="usage">Usage<a class="headerlink" href="#usage" title="Permanent link">&para;</a></h2>
<h3 id="backward-compatibility">Backward Compatibility<a class="headerlink" href="#backward-compatibility" title="Permanent link">&para;</a></h3>
<p>This plugin is backward compatible in the sense that it
will render previous setups correctly. This is because those
settings and metadata information is ignored by this version. Therefore
you can remove them to neaten up your site</p>
<h3 id="templates">Templates<a class="headerlink" href="#templates" title="Permanent link">&para;</a></h3>
<p>No alteration is needed to a template for this plugin to work. Just install
the plugin and start writing your Math. </p>
<p>If on the other hand, you are template designer and want total control
over the MathJax JavaScript, you can set the <code>auto_insert</code> setting to 
<code>False</code> which will cause no MathJax JavaScript to be added to the content.</p>
<p>If you choose this option, you should really know what you are doing. Therefore
only do this if you are designing your template. There is no real advantage to
to letting template logic handle the insertion of the MathJax JavaScript other
than it being slightly neater.</p>
<p>By setting <code>auto_insert</code> to <code>False</code>, metadata with <code>key</code> value of <code>mathjax</code>
will be present in all pages and articles where MathJax should be present.
The template designer can detect this and then use the <code>MATHJAXSCRIPT</code> setting
which will contain the user specified MathJax script to insert into the content.</p>
<p>For example, this code could be used:
<code>{% if not MATH['auto_insert'] %}
    {% if page and page.mathjax or article and article.mathjax %}
        {{ MATHJAXSCRIPT }}
    {% endif %}
{% endif %}</code></p>
<h3 id="settings">Settings<a class="headerlink" href="#settings" title="Permanent link">&para;</a></h3>
<p>Certain MathJax rendering options can be set. These options 
are in a dictionary variable called <code>MATH</code> in the pelican
settings file.</p>
<p>The dictionary can be set with the following keys:</p>
<ul>
<li><code>auto_insert</code>: controls whether plugin should automatically insert
MathJax JavaScript in content that has Math. It is only recommended
to set this to False if you are a template designer and you want
extra control over where the MathJax JavaScript is renderd. <strong>Default Value</strong>:
True</li>
<li><code>wrap_latex</code>: controls the tags that LaTex math is wrapped with inside the resulting
html. For example, setting <code>wrap_latex</code> to <code>mathjax</code> would wrap all LaTex math inside
<code>&lt;mathjax&gt;...&lt;/mathjax&gt;</code> tags. If typogrify is set to True, then math needs
to be wrapped in tags and <code>wrap_latex</code> will therefore default to <code>mathjax</code> if not
set. <code>wrap_latex</code> cannot be set to <code>'math'</code> because this tag is reserved for 
mathml notation. <strong>Default Value</strong>: None unless Typogrify is enabled in which case, 
it defaults to <code>mathjax</code></li>
<li><code>align</code>: controls how displayed math will be aligned. Can be set to either
<code>left</code>, <code>right</code> or <code>center</code>. <strong>Default Value</strong>: <code>center</code>.</li>
<li><code>indent</code>: if <code>align</code> not set to <code>center</code>, then this controls the indent
level. <strong>Default Value</strong>: <code>0em</code>.</li>
<li><code>show_menu</code>: a boolean value that controls whether the mathjax contextual 
menu is shown. <strong>Default Value</strong>: True</li>
<li><code>process_escapes</code>: a boolean value that controls whether mathjax processes escape 
sequences. <strong>Default Value</strong>: True</li>
<li><code>latex_preview</code>: controls the preview message users are seen while mathjax is
rendering LaTex. If set to <code>Tex</code>, then the TeX code is used as the preview 
(which will be visible until it is processed by MathJax). <strong>Default Value</strong>: <code>Tex</code></li>
<li><code>color</code>: controls the color of the mathjax rendered font. <strong>Default Value</strong>: <code>black</code></li>
<li><code>ssl</code>: specifies if ssl should be used to load MathJax engine. Can be set to one
of three things</li>
<li><code>auto</code>: <strong>Default Value</strong> will automatically determine what protodol to use 
based on current protocol of the site. </li>
<li><code>force</code>: will force ssl to be used.</li>
<li><code>off</code>: will ensure that ssl is not used</li>
</ul>
<p>For example, in settings.py, the following would make math render in blue and
displaymath align to the left:</p>
<pre><code>MATH = {'color':'blue','align':left}
</code></pre>
<h2 id="latex-examples">LaTex Examples<a class="headerlink" href="#latex-examples" title="Permanent link">&para;</a></h2>
<h3 id="inline">Inline<a class="headerlink" href="#inline" title="Permanent link">&para;</a></h3>
<p>LaTex between <code>$</code>..<code>$</code>, for example, <code>$</code>x^2<code>$</code>, will be rendered inline
with respect to the current html block.</p>
<h3 id="displayed-math">Displayed Math<a class="headerlink" href="#displayed-math" title="Permanent link">&para;</a></h3>
<p>LaTex between <code>$$</code>..<code>$$</code>, for example, <code>$$</code>x^2<code>$$</code>, will be rendered centered in a
new paragraph.</p>
<h3 id="equations">Equations<a class="headerlink" href="#equations" title="Permanent link">&para;</a></h3>
<p>LaTex between <code>\begin</code> and <code>\end</code>, for example, <code>begin{equation}</code> x^2 <code>\end{equation}</code>,
will be rendered centered in a new paragraph with a right justified equation number
at the top of the paragraph. This equation number can be referenced in the document.
To do this, use a <code>label</code> inside of the equation format and then refer to that label
using <code>ref</code>. For example: <code>begin{equation}</code> <code>\label{eq}</code> X^2 <code>\end{equation}</code>. Now
refer to that equation number by <code>$</code>\ref{eq}<code>$</code>.</p>
<h2 id="mathml-examples">MathML Examples<a class="headerlink" href="#mathml-examples" title="Permanent link">&para;</a></h2>
<p>The following will render the Quadratic formula:
<code>&lt;math xmlns="http://www.w3.org/1998/Math/MathML" display="block"&gt; 
  &lt;mrow&gt;
    &lt;mi&gt;x&lt;/mi&gt;
    &lt;mo&gt;=&lt;/mo&gt;
    &lt;mfrac&gt;
      &lt;mrow&gt;
        &lt;mo&gt;&amp;#x2212;&lt;/mo&gt;
        &lt;mi&gt;b&lt;/mi&gt;
        &lt;mo&gt;&amp;#xB1;&lt;/mo&gt;
        &lt;msqrt&gt;
          &lt;mrow&gt;
            &lt;msup&gt;
              &lt;mi&gt;b&lt;/mi&gt;
              &lt;mn&gt;2&lt;/mn&gt;
            &lt;/msup&gt;
            &lt;mo&gt;&amp;#x2212;&lt;/mo&gt;
            &lt;mn&gt;4&lt;/mn&gt;
            &lt;mi&gt;a&lt;/mi&gt;
            &lt;mi&gt;c&lt;/mi&gt;
          &lt;/mrow&gt;
        &lt;/msqrt&gt;
      &lt;/mrow&gt;
      &lt;mrow&gt;
        &lt;mn&gt;2&lt;/mn&gt;
        &lt;mi&gt;a&lt;/mi&gt;
      &lt;/mrow&gt;
    &lt;/mfrac&gt;
  &lt;/mrow&gt;
&lt;/math&gt;</code></p>
			</div>
		</div>
	</div>
</section>

	<section class="content screen-height" id="comments">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="content-border">
						<h2>Comments</h2>
        				<div class="divider-grey"></div>
						<a id="disqus" href="http://doctrina/test-readme.html#disqus_thread">0 Comments</a>
						<div id="disqus_thread"></div>
					</div>
			    </div>
			</div>
    	</div>
	</section>
    <!-- End Sections -->

    <!-- Connect -->
    <section id="connect" class="text-center title">
        <div class="container">
            <h1>Connect</h1>
            
            <div class="row" style="padding: 1.0em 0;">
                Found anything useful on this site? Drop me a line, I'd love to hear about it.
            </div>
            
            <div class="divider-grey"></div>
            
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div>
                        <a class="fa-stack fa-lg x" id="x" tabindex="0">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </a>
                        <a class="fa-stack fa-lg twitter" href="https://twitter.com/barrysteyn" target="_blank">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </a>
                        <a class="fa-stack fa-lg linkedin" href="https://www.linkedin.com/in/barrysteyn" target="_blank">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </a>
                        <a class="fa-stack fa-lg github" href="https://github.com/barrysteyn" target="_blank">
                            <i class="fa fa-github fa-stack-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- Footer -->
            <div id="footer" class="row">
                <div class="col-xs-12">
                    <p>&copy; <script>document.write(new Date().getFullYear());</script> Barry Steyn. All Rights Reserved.
                </div>
            </div>
            <!-- End Footer -->
        </div>
    </section>
    <!-- End Connect -->

    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        var scrollspies = {};
        scrollspies.body = {
            'target': '#navigation-menu'
        };

		//Do not remove navbar-offset-start class
	var navbarOffset = false;

	//Scrollspy object
    scrollspies.body = {
        'target': '.toc'
    };


	$(function() {
		var disqus = {
			shortname: 'doctrinalocal',
			identifier: 'http://doctrina/test-readme.html',
			url: 'http://doctrina/test-readme.html',
			developer: 0
		};

		disqus_comments(disqus);
	});
    </script>
    <script src="http://doctrina/theme/js/main.js"></script>
    <!-- End JavaScript -->
</body>

</html>