@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}
.divider-grey {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 50px;
  border-top: 2px solid #b3b3b1;
  padding-bottom: 2.3em;
}
.vertical-align,
#about,
#intro,
#comments,
#resume,
#connect {
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media all and (-ms-high-contrast: none) {
  .vertical-align *::-ms-backdrop,
  .vertical-align,
  #about,
  #intro,
  #comments,
  #resume,
  #connect {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .hidden-grid-float-breakpoint {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .visible-grid-float-breakpoint {
    display: none !important;
  }
}
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: relative;
  color: #555555;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
}
a {
  color: #555555;
  border-bottom: 1px dotted #555555;
}
a:hover {
  color: #41dd85;
  border-bottom: 1px dotted #41dd85;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
}
a#disqus {
  display: inline-block;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: underline;
  padding: 1.1em 90px 1.1em 40px;
  border: 1px solid #DDD;
  background: #FFF;
  border-radius: 42px;
  background-image: url(../img/disqus.png);
  background-repeat: no-repeat;
  background-position: 97% center;
  font-smoothing: antialiased;
}
@media (min-width: 992px) {
  a#disqus:before {
    content: 'There are ';
  }
}
@media (min-width: 992px) {
  a#disqus:after {
    content: '. Want to add yours?';
  }
}
div#disqus_thread {
  display: none;
  min-height: 4em;
  padding: 2em;
}
h1.jumbotron-heading {
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #ffffff;
  font-size: 4em;
}
.shadow,
#navbar-top .navbar-header button {
  font-weight: 600;
  text-shadow: 2px 2px #000;
}
@media (max-width: 992px) {
  #share {
    display: inline-block;
    text-align: center;
    padding-bottom: 1.0em;
  }
  #share div:first-child {
    display: block;
  }
  #share div {
    display: inline;
  }
}
#navbar-top {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  #navbar-top {
    padding: 1.0em 0;
  }
}
#navbar-top a {
  border: none;
  background: none;
}
#navbar-top a:hover,
#navbar-top a:active,
#navbar-top a:focus {
  background: none;
}
#navbar-top li a {
  cursor: default;
}
#navbar-top .navbar-header button {
  color: #ffffff;
  border: solid 1px #555555;
}
#navbar-top .navbar-header a.navbar-brand {
  color: #000;
}
#navbar-top .navbar-header a.navbar-brand:hover,
#navbar-top .navbar-header a.navbar-brand:focus,
#navbar-top .navbar-header a.navbar-brand:focus {
  color: #41dd85;
  border: 0;
}
@media (max-width: 992px) {
  #navbar-top div.collapse.in span.toctitle,
  #navbar-top div.collapsing span.toctitle {
    display: none;
  }
  #navbar-top div.collapse.in ul,
  #navbar-top div.collapsing ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  #navbar-top div.collapse.in ul > li,
  #navbar-top div.collapsing ul > li {
    position: relative;
    display: block;
  }
  #navbar-top div.collapse.in ul > li > a,
  #navbar-top div.collapsing ul > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  #navbar-top div.collapse.in ul > li > a:hover,
  #navbar-top div.collapsing ul > li > a:hover,
  #navbar-top div.collapse.in ul > li > a:focus,
  #navbar-top div.collapsing ul > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
  }
  #navbar-top div.collapse.in ul > li.disabled > a,
  #navbar-top div.collapsing ul > li.disabled > a {
    color: #777777;
  }
  #navbar-top div.collapse.in ul > li.disabled > a:hover,
  #navbar-top div.collapsing ul > li.disabled > a:hover,
  #navbar-top div.collapse.in ul > li.disabled > a:focus,
  #navbar-top div.collapsing ul > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
  }
  #navbar-top div.collapse.in ul .open > a,
  #navbar-top div.collapsing ul .open > a,
  #navbar-top div.collapse.in ul .open > a:hover,
  #navbar-top div.collapsing ul .open > a:hover,
  #navbar-top div.collapse.in ul .open > a:focus,
  #navbar-top div.collapsing ul .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
  }
  #navbar-top div.collapse.in ul .nav-divider,
  #navbar-top div.collapsing ul .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  #navbar-top div.collapse.in ul > li > a > img,
  #navbar-top div.collapsing ul > li > a > img {
    max-width: none;
  }
  #navbar-top div.collapse.in ul li a:hover,
  #navbar-top div.collapsing ul li a:hover,
  #navbar-top div.collapse.in ul li a:active,
  #navbar-top div.collapsing ul li a:active,
  #navbar-top div.collapse.in ul li a:focus,
  #navbar-top div.collapsing ul li a:focus {
    outline: none;
    border: none;
    background: none;
  }
  #navbar-top div.collapse.in ul ul,
  #navbar-top div.collapsing ul ul {
    display: none;
  }
}
#navbar-top.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease-in-out;
}
#navbar-top.navbar li a {
  color: #000;
}
@media (min-width: 992px) {
  #navbar-top.navbar li a span:focus,
  #navbar-top.navbar li a span:hover,
  #navbar-top.navbar li.active a {
    color: #41dd85;
    cursor: pointer;
  }
}
#navbar-top.navbar-offset-start {
  background: rgba(100, 100, 100, 0.9);
  transition: all 0.5s ease-in-out;
}
#navbar-top.navbar-offset-start a.navbar-brand {
  color: #ffffff;
}
@media (max-width: 992px) {
  #navbar-top.navbar-offset-start li a {
    color: #ffffff;
  }
}
@media (min-width: 992px) {
  #navbar-top.navbar-offset-start li a {
    color: rgba(255, 255, 255, 0.5);
  }
  #navbar-top.navbar-offset-start li a span:focus,
  #navbar-top.navbar-offset-start li a span:hover,
  #navbar-top.navbar-offset-start li.active a span {
    color: #ffffff;
    border-bottom: 2px solid #41dd85;
    cursor: pointer;
  }
}
a.fa-stack {
  border: none;
  color: #555555;
  text-decoration: none;
}
a.fa-stack:hover {
  cursor: pointer;
}
a.twitter:hover {
  color: #00abec;
}
a.facebook:hover {
  color: #3B5998;
}
a.google-plus:hover {
  color: #DD4B39;
}
a.linkedin:hover {
  color: #007BB6;
}
a.github:hover {
  color: #4183C4;
}
a.x:hover {
  color: #FFEB00;
}
ul.center-list {
  display: inline-block;
  padding: 0;
  text-align: left;
  line-height: 1.2em;
}
ul.center-list li {
  list-style: none;
}
.metadata {
  font-size: 0.75em;
}
@media (max-width: 768px) {
  .metadata {
    line-height: 1.0em;
  }
}
.section {
  padding-top: 4em;
  padding-bottom: 3em;
}
.section h2 {
  color: #333332;
}
@media (min-width: 768px) {
  .section {
    font-size: 1.25em;
    line-height: 2.0em;
  }
}
section.content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.35em;
  line-height: 1.6em;
  padding-top: 4em;
  background: linear-gradient(0deg, #ffffff, #f6f9f9);
}
section.content div.content-border {
  padding: 1.0em 0 2.0em 0;
}
@media (min-width: 768px) {
  section.content div.content-border {
    border: 1px solid #EEE;
    border-radius: 1.0em;
    margin-bottom: 2em;
  }
}
section.content div.article-divider {
  padding: 0 0 1.5em 0;
  border-bottom: 1px solid #eee;
}
section.content .main-heading,
section.content .secondary-heading {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.0em;
  padding: 1em 0 0.1em 0;
}
section.content .main-heading a,
section.content .secondary-heading a,
section.content .secondary-heading a:hover {
  border: 0;
}
section.content .main-heading a:hover {
  text-shadow: 1px 1px #000;
}
section.content .secondary-heading {
  font-size: 1.0em;
}
section.content .secondary-heading a:hover {
  text-shadow: 1px 1px #000;
}
section.content .metadata a {
  font-size: 0.9em;
  margin-left: 0.4em;
  border-bottom: 1px dotted #555555;
}
section.content .metadata a:hover {
  text-shadow: 1px 1px #000;
}
@media (min-width: 768px) {
  section.content .tags {
    text-align: right;
  }
}
section.content .date {
  padding-bottom: 1px;
}
#about,
#intro,
#comments,
#resume,
#connect {
  text-align: center;
}
#intro {
  color: rgba(255, 255, 255, 0.7);
  background: url(../img/header-bg-aconcagua.jpg) no-repeat center center scroll;
  background-size: cover;
}
#resume .jumbotron-heading {
  color: #555555;
}
#connect {
  border-top: 1px solid #ECFFFA;
  padding-bottom: 1.5em;
}
#connect > div.container > div.row > div > div {
  font-size: 1.5em;
}
#footer {
  padding-top: 2.3em;
  font-size: 0.8em;
}
@media (min-width: 992px) {
  #share {
    font-size: 0.8em;
  }
}
.button-group {
  padding: 1.0em 0;
}
.button-group div.button {
  padding: 0.5em 0;
}
.custom-button {
  background: rgba(200, 200, 200, 0.6);
  border: 2px solid #41dd85;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  line-height: 4em;
  padding: 0px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.custom-button:hover {
  color: #ffffff;
  background: #41dd85;
  border: 2px solid #41dd85;
  height: inherit;
  transition: all 0.5s ease-in-out;
}
span.toctitle {
  position: relative;
  display: block;
  margin: 0 0 0.2em 0;
  font-weight: 700;
}
#navigation-menu-toc {
  padding-left: 0px;
}
@media (min-width: 992px) {
  div.toc {
    margin-left: 1.0em;
  }
  div.toc span.toctitle {
    border-bottom: 1px solid #DDD;
    left: -1em;
  }
  div.toc a {
    border: none;
    padding: 0px;
  }
  div.toc a:hover,
  div.toc a:active,
  div.toc a:focus {
    background: none;
    outline: none;
  }
  div.toc li.active > a {
    color: #41dd85;
  }
  div.toc ul {
    line-height: 1.3em;
    margin-left: 0;
  }
  div.toc ul li:before {
    position: absolute;
    top: 0.3em;
    left: -1.1em;
    font: normal normal normal 14px/1 FontAwesome;
    border-radius: 50%;
    content: '\f192';
  }
  div.toc ul li.active:before {
    background-color: #41dd85;
  }
  div.toc ul li.active ul {
    display: block;
  }
  div.toc ul li.active ul ul {
    display: none;
  }
  div.toc ul li ul {
    font-size: 0.9em;
    display: none;
  }
  div.toc ul li ul li {
    line-height: 1.6em;
    font-size: 0.9em;
  }
  div.toc ul li ul li:before {
    top: 0.65em;
    left: -1.4em;
    font-size: 0.7em;
    content: '\f111';
  }
  div.toc ul li ul li.active:before {
    border-radius: 0;
    background-color: inherit;
  }
  div.toc ul li ul li:last-child {
    padding-bottom: 0.5em;
  }
}
.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 50px;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
  text-align: center;
  background: #dae4e4;
  background: radial-gradient(circle farthest-side at center, #ffffff 0, #dae4e4 100%);
  font-size: 1.2em;
  border-bottom: 1px solid #ECFFFA;
}
section.title {
  border-bottom: solid #ffffff 0.15em;
}
.title h1 {
  font-weight: 600;
  margin: 0;
}
@media (min-width: 768px) {
  .title h1 {
    font-size: 3em;
  }
}
.title a {
  text-decoration: none;
  border: 0;
}
.title a:hover,
.title a:focus,
.title aactive {
  text-decoration: none;
  background: none;
}
.title span {
  position: relative;
}
.title span a {
  width: 100px;
  position: absolute;
  top: 1em;
  left: 50%;
  margin-left: -50px;
}
.title span a img {
  border: solid rgba(200, 200, 200, 0.15) 0.2em;
  height: 100px;
}
h1 a.headerlink,
h2 a.headerlink,
h3 a.headerlink,
h4 a.headerlink {
  color: #ffffff;
  text-decoration: none;
  border: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink {
  color: inherit;
}
